.categories {
    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 90px;
        cursor: pointer;

        &-img {
            width: inherit;
            height: 90px;
            border-radius: 24px;
            object-fit: cover;
        }

        &-title {
            text-align: center;
            overflow-wrap: break-word;
        }

        &:first-child {
            & .categories__item-img {
                object-position: top;
            }
        }
    }
}