.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 16px 16px;

    &__title {
        color: var(--Shop-Black);
        font-size: 40px;
        align-self: self-start;
        cursor: pointer;
    }

    &__icons {
        display: flex;
        gap: 16px;
        cursor: pointer;
    }
}